@using System.Security.Claims;
@using AppSidd.Domain.Users.Auth.JWT;
@{
    ViewData["Title"] = "Sidd";
}

<section class="row mt-1 mt-md-2">
    aaa
</section>

@section scripts {
    <script>
        $(() => {
        });
    </script>
}
