@using System.Security.Claims;
@using AppSidd.Domain.Users.Auth.JWT;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container-fluid p-3 p-sm-4  p-lg-5">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <script>

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
