@model AppSidd.Application.Dto.UserSignInDto
@using System.Linq;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<style>
    body {
        background: url('/img/theme/sidd.jpg');
        margin-left: 0px !important;
    }
</style>
<section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container pt-lg-7">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        @if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <div class="alert alert-success">@ViewBag.Message</div>
                        }
                        @if (ViewBag.Notifications != null)
                        {
                            foreach (var notification in ViewBag.Notifications)
                            {
                                <div class="alert alert-danger">@notification.Message</div>
                            }
                        }
                        <div class="text-center text-muted mb-4">
                            <small>SIDD - Login</small>
                        </div>
                        <form id="FormLogin" asp-action="Index">
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "", @required = "true", @name = "email", @type = "text" })
                                </div>
                            </div>
                            <div class="form-group focused">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "", @required = "true", @name = "password", @type = "password" })
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        function setFormValidation(id) {
            $(id).validate({
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
                },
                success: function (element) {
                    $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
                },
                errorPlacement: function (error, element) {
                    $(element).closest('.form-group').append(error);
                },
            });
        }

        $(document).ready(function () {
            sessionStorage.setItem('redirect', '');
            setFormValidation('#FormLogin');
        });

    </script>
}
