@model AppSidd.Application.Dto.UserSignInDto
@using System.Linq;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        margin-left: 0px !important;
    }
</style>
<div class="row d-flex justify-content-center">
    <div class="col" align="center" style="margin: 0 auto; padding-top: 25px">
        <form id="FormLogin" asp-action="Index">
            <div class="card" style="width: 18rem;">
                <div class="card-header" style="background-color: #2a3f81 !important">
                    <img class="w-50 my-5" src="~/images/souza-logo.png" />
                </div>
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-success">@ViewBag.Message</div>
                    }
                    @if (ViewBag.Notifications != null)
                    {
                        foreach (var notification in ViewBag.Notifications)
                        {
                            <div class="alert alert-danger">@notification.Message</div>
                        }
                    }
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                E-mail
                            </span>
                        </div>
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "", @required = "true", @name = "email", @type = "text" })
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Senha
                            </span>
                        </div>
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "", @required = "true", @name = "password", @type = "password" })
                    </div>
                    <input type="submit" class="btn btn-primary btn-block mb-3" value="Entrar" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        function setFormValidation(id) {
            $(id).validate({
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
                },
                success: function (element) {
                    $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
                },
                errorPlacement: function (error, element) {
                    $(element).closest('.form-group').append(error);
                },
            });
        }

        $(document).ready(function () {
            sessionStorage.setItem('redirect', '');
            setFormValidation('#FormLogin');
        });

    </script>
}
