@using System.Security.Claims;
@using AppSidd.Domain.Users.Auth.JWT;
@{
    ViewData["Title"] = "Dashboard";
}

<section class="row mt-1 mt-md-2">
    <div class="col">
        <div class="card">
            <div class="card-body p-4 p-md-5">
                aaaaaaaaaaaaaaaaaaaaaa
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script>

        $(() => {
        });
    </script>
}
